{{#if details.jql}}
  <div class="mb-1">
    <a class="p-link" href="{{jiraFqdn}}/issues/?jql={{details.jql}}">Run search in Jira {{fa-icon icon="external-link"
                                                                                                   fixedWidth=true
                                                                                                   class="external-link-icon"}}</a>
  </div>
{{/if}}

{{!-- Beginning of Paging Header --}}
{{#if (gt filteredPagingData.length 0)}}
  <div class="d-flex align-items-center justify-content-between mb-2">
    <div class="pl-0 page-info p-footnote">
      {{#if (gt filteredPagingData.length pageSize)}}
        Viewing search results {{pagingStartItem}} - {{pagingEndItem}} of {{filteredPagingData.length}}
      {{else}}
        Viewing {{filteredPagingData.length}} search results
      {{/if}}
    </div>
  </div>
{{else}}
  <div class="p-footnote">
    No results found
  </div>
{{/if}}
{{!-- End of Paging Header --}}

{{#each pagedPagingData as |issue issueIndex|}}
  <div class="issue-container">
    <h1 class="p-title mt-0">
      {{#if (gt details.issues.length 1)}}
        <span class="mr-1">#{{issue.__index}}</span>
      {{/if}}
      <a class="d-flex align-items-center" href="{{jiraFqdn}}/browse/{{issue.key}}" target="_blank">
        {{#if state.isDetailsLoading}}
          {{fa-icon icon="spinner-third" fixedWidth=true spin=true class=title-icon}}
        {{else}}
          <img class="title-icon mr-1" src="{{get details.icons issue.fields.project.__iconMd5}}"/>  
        {{/if}}        
        {{issue.fields.project.name}}
        <span class="pl-1 pr-1">/</span>
        {{#if state.isDetailsLoading}}
          {{fa-icon icon="spinner-third" fixedWidth=true spin=true class=title-icon}}
        {{else}}
          <img class="title-icon mr-1" src="{{get details.icons issue.fields.issuetype.__iconMd5}}"/>
        {{/if}}
        {{issue.key}}
      </a>
    </h1>
  
    {{#if issue.fields.summary}}
      <h1 class="p-title">
        {{issue.fields.summary}}
      </h1>
    {{/if}}
  
    {{#if issue.fields.issuetype.name}}
      <div>
        <span class="p-key">Issue Type:</span>
        <span class="p-value">{{issue.fields.issuetype.name}}</span>
      </div>
    {{/if}}
    {{#if issue.fields.status.name}}
      <div>
        <span class="p-key">Current Status:</span>
        <span class="p-value">{{issue.fields.status.name}}</span>
      </div>
    {{/if}}
    {{#if issue.fields.project.projectTypeKey}}
      <div>
        <span class="p-key">Project Type:</span>
        <span class="p-value">{{issue.fields.project.projectTypeKey}}</span>
      </div>
    {{/if}}
    {{#if issue.fields.priority.name}}
      <div>
        <span class="p-key">Priority:</span>
        <span class="p-value">{{issue.fields.priority.name}}</span>
      </div>
    {{/if}}
  
    {{#if details.fields.creator.displayName}}
      <div>
        <span class="p-key">Creator:</span>
        <span class="p-value"><a href="{{jiraFqdn}}/people/{{issue.fields.creator.accountId}}"
                                 target="_blank">{{issue.fields.creator.displayName}}</a></span>
      </div>
    {{/if}}
  
    {{#if (and issue.fields.reporter.accountId issue.fields.reporter.displayName)}}
      <div>
        <span class="p-key">Reporter:</span>
        <span class="p-value"><a href="{{jiraFqdn}}/people/{{issue.fields.reporter.accountId}}"
                                 target="_blank">{{issue.fields.reporter.displayName}}</a></span>
      </div>
    {{/if}}
  
    {{#if issue.fields.assignee.displayName}}
      <div>
        <span class="p-key">Assignee:</span>
        <span class="p-value"><a href="{{jiraFqdn}}/people/{{issue.fields.assignee.accountId}}"
                                 target="_blank">{{issue.fields.assignee.displayName}}</a></span>
      </div>
    {{/if}}
  
    {{#if issue.fields.resolution.name}}
      <div>
        <span class="p-key">Issue Resolution:</span>
        <span class="p-block">{{issue.fields.resolution.name}}</span>
      </div>
    {{/if}}
  
    {{#if issue.fields.resolutiondate}}
      <div>
        <span class="p-key">Issue Resolution Date:</span>
        <span class="p-value">{{moment-format issue.fields.resolutiondate "YYYY-MM-DD HH:mm:ss z"
                                              timeZone=timezone}}</span>
      </div>
    {{/if}}
  
    {{#if issue.fields.created}}
      <div>
        <span class="p-key">Created:</span>
        <span class="p-value">{{moment-format issue.fields.created "YYYY-MM-DD HH:mm:ss z" timeZone=timezone}}</span>
      </div>
    {{/if}}
  
    {{#if issue.fields.updated}}
      <div>
        <span class="p-key">Updated:</span>
        <span class="p-value">{{moment-format issue.fields.updated "YYYY-MM-DD HH:mm:ss z" timeZone=timezone}}</span>
      </div>
    {{/if}}
  
    {{#if issue.fields.labels}}
      <h1 class="p-title">
        {{fa-icon icon="tags" fixedWidth=true}} Labels
      </h1>
  
      <div class="tags">
        {{#each issue.fields.labels as |label|}}
          <span class="pulse-tag">{{label}}</span>
        {{/each}}
      </div>
    {{/if}}
  
    {{#if issue.fields.fixVersions}}
      <h1 class="p-title">
        {{fa-icon "calendar"}} Fix Versions
      </h1>
  
      {{#each issue.fields.fixVersions as |version|}}
        <div class="mb-2">
          {{#if version.name}}
            <div>
              <span class="p-key">Version Name:</span>
              <span class="p-value">{{version.name}}</span>
            </div>
          {{/if}}
          {{#if version.releaseDate}}
            <div>
              <span class="p-key">Version Release Date:</span>
              <span class="p-value">{{version.releaseDate}}</span>
            </div>
          {{/if}}
          {{#if version.description}}
            <div>
              <span class="p-key">Version Description:</span>
              <span class="description">{{version.description}}</span>
            </div>
          {{/if}}
        </div>
      {{/each}}
    {{/if}}
  
  
    <ul class="nav nav-tabs mt-2">
      {{#if issue.renderedFields.description}}
        <li class="nav-item">
          <a
            {{action (mut issue.__activeTab) "description"}}
                  class="nav-link {{if (or (eq issue.__activeTab "description")(not issue.__activeTab)) "active"}}"
                  href="#"
          >
            Description
          </a>
        </li>
      {{/if}}
      <li class="nav-item">
        <a {{action (mut issue.__activeTab) "comments"}} class="nav-link {{if (eq issue.__activeTab "comments") "active"}}" href="#">
          Comments
          {{#if state.isDetailsLoading}}
            {{fa-icon icon="spinner-third" spin=true fixedWidth=true}}
          {{else}}
            ({{issue.comments.length}})  
          {{/if}}        
        </a>
      </li>    
    </ul>

    {{!-- Description Tab --}}
    {{#if (or (eq issue.__activeTab "description")(not issue.__activeTab))}}
      <div class="mt-1">
        <span class="description jira-html">{{{issue.renderedFields.description}}}</span>
      </div>
    {{/if}}
  
    {{!-- Comments Tab --}}
    {{#if (eq issue.__activeTab "comments")}}
      <div class="mt-1">
        {{#if (eq issue.comments.length 0)}}
          No Comments
        {{/if}}
        {{#each issue.comments as |comment|}}
          <div class="comment-container">
            <div class="d-flex align-items-center">
              {{#if comment.author}}
                <img class="author-avatar" src="{{comment.author.avatarUrls.24x24}}"/>
                <div class="ml-1">{{comment.author.displayName}}</div>
              {{else}}
                {{fa-icon icon="user-circle" fixedWidth=true class="user-avatar-icon"}}
                <div class="ml-1">Anonymous</div>
              {{/if}}
              <div class="p-footnote ml-1" title="{{comment.created}}">{{moment-from-now comment.created}}</div>
              {{#if (not-eq comment.created comment.updated)}}
                <div class="p-footnote ml-1" title="{{comment.updated}}">(edited)</div>
              {{/if}}
            </div>
            <div class="w-100 jira-html mt-1">
              {{{comment.renderedBody}}}
            </div>
          </div>
        {{/each}}
      </div>
    {{/if}}
  </div>
{{/each}}

{{!-- Result Paging component --}}
{{#if (gt filteredPagingData.length pageSize)}}
  <div class="paging-bar">
    <div>
      <span class="paging-bar-title">{{block.acronym}}</span>
    </div>
    <div class="d-flex align-items-center">
      <button class="btn paging-btn" {{action "firstPage"}} disabled={{isPrevButtonsDisabled}}>
        {{fa-icon icon="angle-double-left" fixedWidth=false}}
      </button>
      <button class="btn paging-btn" {{action "prevPage"}} disabled={{isPrevButtonsDisabled}}>
        {{fa-icon icon="angle-left" fixedWidth=false}}
      </button>
      <div class="paging-info">
        {{#if (eq pageSize 1)}}
          {{pagingStartItem}} of {{filteredPagingData.length}}
        {{else}}
          {{pagingStartItem}} - {{pagingEndItem}} of {{filteredPagingData.length}}
        {{/if}}
      </div>
      <button class="btn paging-btn" {{action "nextPage"}} disabled={{isNextButtonDisabled}}>
        {{fa-icon icon="angle-right" fixedWidth=false}}
      </button>
      <button class="btn paging-btn" {{action "lastPage"}} disabled={{isNextButtonDisabled}}>
        {{fa-icon icon="angle-double-right" fixedWidth=false}}
      </button>
    </div>
  </div>
{{/if}}
{{!-- End of Paging Component --}}